@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Poppins:wght@400;600;700&display=swap");

/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif; 
*/

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #737373;
  line-height: 1.3;
  letter-spacing: 0.2px;
}

/* ========================= */
/* Colors */
/* ========================= */
.colorWhite {
  color: white;
}
.primaryColor {
  color: #12cbae;
}
.primaryBackgroundColor {
  background-color: #12cbae !important;
}
.btn-check:active + .btn,
.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:active {
  background-color: #12cbae;
  border-color: #12cbae;
}

.custom-btn {
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-family: ;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: white;
  --bs-btn-bg: transparent;
  --bs-btn-border-width: 1px;
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: 0.375rem;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem
    rgba(var(--bs-btn-focus-shadow-rgb), 0.5);
  display: inline-block;
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: var(--bs-btn-bg);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.custom-btn:hover {
  color: white;
}

/* ========================= */
/* HEADER SECTION */
/* ========================= */
.customHeader .navbar-nav .nav-link.active,
.customHeader .navbar-nav .show > .nav-link {
  border-radius: 5px;
  font-weight: 700;
}
.customHeader .navbar-nav .nav-link {
  color: white;
  line-height: 24px;
  padding-right: 15px;
  padding-left: 15px;
  font-weight: 300;
  font-size: 15px;
}
.customHeader .navbar-nav {
  margin-left: auto;
}
.customHeader .navbar {
  width: 100%;
}
.heroSection {
  background-image: url("/assets/images/hero-cover.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}
.customHeader .loginBtn {
  color: white;
  font-size: 14px;
  line-height: 1.3;
  margin-left: 25px;
  padding: 10px 15px;
}
.customHeader .loginBtn .profileIcon {
  height: 18px;
  width: 18px;
}
.customHeader .loginBtn:hover {
  background-color: #12cbae;
}
.heroWrapper {
}
.heroWrapper .heroInner,
.custom-form {
  height: calc(100vh - 149px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.heroWrapper .heroInner .title {
  font-size: 46px;
  margin-bottom: 15px;
}
.heroWrapper .heroInner .text {
  font-size: 20px;
  line-height: 30px;
}
.heroWrapper .callBtn {
  font-size: 18px;
  margin-top: 10px;
  padding: 7px 40px;
  border-radius: 20px;
  text-transform: capitalize;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
}
.about-us .btn {
  font-size: 18px;
  border-radius: 20px;
}
.about-us .title {
  color: black;
  font-size: 30px;
  text-transform: capitalize;
}
.about-us .desc {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  width: 75%;
  line-height: 1.6;
  font-size: 18px;
}
.about-img {
  position: relative;
}
.about-img img {
}
.about-img:before {
  top: 0;
  left: 0;
  content: "";
  width: 110px;
  height: 110px;
  position: absolute;
  background-size: contain;
  background-image: url("/assets/images/plusIcon.svg");
}
.about-img:after {
  right: 0;
  bottom: -60px;
  content: "";
  width: 110px;
  height: 110px;
  position: absolute;
  background-size: contain;
  background-image: url("/assets/images/plusIcon.svg");
}
.featuredSection {
  z-index: 2;
  position: relative;
  background-color: #f1fffd;
}
.featuredSection .title {
  text-transform: capitalize;
  font-size: 30px;
  color: #252b42;
}
.product-card {
  background-color: white;
  border: 0.5px solid #d1d1d1;
}
.product-card .title {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: bold;
}
.product-card .desc {
  font-size: 12px;
  font-weight: bold;
  font-family: "Open Sans";
}
.product-card .priceBox .price {
  color: #151515;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
.product-card .cartBtn {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
}
.featuredSection .viewAll {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
.viewAll .arrowRight {
  transform: translateX(5px);
}

.servicesSection {
  z-index: 3;
  position: relative;
  background-color: #fafafa;
}
.servicesSection .title {
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  color: #031432;
}
.servicesSection .feature {
  background-color: white;
  box-shadow: 0px 24px 32px -3px rgb(3 9 50 / 4%);
}
.feature.one .feature-icon {
  background-color: #f3effa;
}
.feature.two .feature-icon {
  background-color: #e9f7ef;
}
.feature.three .feature-icon {
  background-color: #eaf2fd;
}
.feature .feature-icon svg {
  height: 35px;
  width: 35px;
}
.servicesSection .feature .title {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: black;
  font-size: 22px;
}
.servicesSection p {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #6c87ae;
  font-size: 14px;
  line-height: 1.5;
}

.locationSection {
  background-color: #f1fffd;
  position: relative;
}
.locationSection .title {
  font-family: "Poppins", sans-serif;
  color: #252b42;
  font-size: 40px;
}
.locationSection .desc {
  font-size: 16px;
  font-weight: bold;
  line-height: 28px;
  text-align: center;
}
footer {
  z-index: 1;
  position: relative;
  background-color: white;
}
footer .title {
  text-transform: capitalize;
  font-size: 20px;
  color: #252b42;
}
footer .titleTwo {
  text-transform: capitalize;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}
footer .desc {
  font-size: 15px;
}
footer ul {
  line-height: 2;
  padding: 0;
}
footer ul li {
  list-style: none;
}
footer ul li a {
  text-decoration: none;
  color: #737373;
  font-size: 15px;
}
footer ul li a:hover {
  color: #12cbae;
}
footer .info {
  line-height: 1.6;
}
footer .info li {
  font-size: 14px;
}
footer .social a {
  text-decoration: none;
  margin-right: 10px;
}
footer .social a:last-child {
  margin-right: 0;
}
footer .social svg {
  width: 20px;
  height: 20px;
}
.copyright .text {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #4b4b4b;
}
footer .about-block {
  position: relative;
}
footer .about-block .plus {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: -70px;
  left: -50px;
}
.locationSection .plus.top {
  position: absolute;
  width: 100px;
  height: 100px;
  top: -24px;
  left: 20%;
}
.locationSection .plus.bottom {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: -25px;
  right: 10%;
}

/* CUSTOM FORM STYLES */
.customForm .form-control,
.customForm .form-select {
  color: #737373;
  font-size: 13px;
  background-color: #f9f9f9;
  border: 1px solid #e6e6e6;
}

.customForm .form-label {
  color: #252b42;
  font-size: 13px;
  line-height: 24px;
  font-weight: bold;
}

.customModal {
}
.customModal .modal-title {
  font-size: 20px;
  font-weight: bold;
  color: #252b42;
}
.customModal .modal-header {
  border-bottom: 0;
}
.customModal .submitBtn {
  width: 100%;
}
.customModal .modal-footer {
  border-top: 0;
}
.customModal .footertxt {
  color: #252b42;
  font-size: 13px;
  font-weight: 600;
}
.customModal .footertxt a {
  color: #ff0918;
}
.customModal .verificationTxt {
  font-size: 13px;
  color: #252b42;
  font-weight: 600;
}
.customModal .verifyField {
  height: 55px;
}
.customHeader .profileIcon {
}
.innerpage .heroSection {
  height: 117px;
}
.innerpage .heroSection::before {
  top: 0px;
  content: "";
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  background-color: rgb(0, 0, 0, 0.4);
}
.pageTitle {
  font-size: 38px;
  font-weight: bold;
  color: #252b42;
}
.custom-orderform .form-label {
  color: #252b42;
  font-weight: 600;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
}
.custom-orderform .custom-btn {
  font-weight: 600;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  font-family: "Poppins", sans-serif;
}
.custom-orderform textarea {
  height: 215px;
}
.custom-orderform .date-btn {
  background-color: #ddfffa;
  color: #737373 !important;
  font-weight: normal;
  text-transform: uppercase;
}
.custom-orderform .date-btn.selected {
  color: white !important;
  background-color: #12cbae;
  font-weight: normal;
}
.custom-orderform .daterangepicker td.active,
.custom-orderform .daterangepicker td.active:hover {
  background-color: #12cbae !important;
}
.daterangepicker .drp-buttons .applyBtn,
.daterangepicker .drp-buttons .cancelBtn {
  width: 48%;
  border-radius: 4px;
}
.daterangepicker .drp-selected {
  display: none;
}
.daterangepicker.show-calendar .drp-buttons {
  text-align: center;
}
.daterangepicker .drp-buttons .cancelBtn {
  margin: 0px;
  background: #e7eaee;
}
.daterangepicker .drp-buttons .applyBtn {
  background: #12cbae;
}

/* MEDIA QURIES */

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 420px;
  }
}
